<div class="container" *ngIf="forecastHourly">
  <table mdbTable id="forecastTable">
    <tbody>
      <tr mdbTableCol *ngFor="let day of forecastHourly">
        <th scope="row">
         <div *ngIf="isNextDay(day)">
           <div>{{day.dt_txt | date:"dd MMM"}}</div>
           <div>{{day.dt_txt | date:"EEEE"}}</div>
         </div>
      </th>
      <td>
          <div>{{day.dt_txt | date:"HH:mm"}}</div></td>
        <td><img *ngIf="weatherImgUrl(day)" [src]="weatherImgUrl(day)"></td>
        <td>{{temperature(day)}}</td>
        <td>{{day.weatherComplex}}</td>
        <td><div class="tempMinMax">
            {{tempComplex(day)}}
        </div>
            <div class="description">
              <span>{{day.wind.speed | number:'1.0-0'}} {{serviceWeather.unitFor("wind")}}</span>
              <span> clouds:{{day.clouds.all}}%</span>
              <span>, {{day.main.pressure}} hpa</span>
            </div>
        </td>
        <td><span>{{description(day)}}</span>
          
        </td>
      </tr>
    </tbody>
  </table>  
</div>
